/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
@keyframes scrollaParole {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  25% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  60% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 0;
  }
}
main {
  display: flex;
  justify-content: center;
  margin: 3em;
  font-size: 2em;
}
main div {
  border: 2px solid black;
  padding: 2em;
}
span {
  font-weight: bold;
  color: rgb(0, 115, 255);
}
span {
  position: relative;
}
span i {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  animation: scrollaParole 5s infinite;
}
span i:nth-of-type(1) {
  animation-delay: 0s;
}
span i:nth-of-type(2) {
  animation-delay: 4s;
}
span i:nth-of-type(3) {
  animation-delay: 8s;
}
