* {
  box-sizing: border-box;
}
/* @keyframes appariGiallini {
      0% {
        transform: translateY(-150vh) rotate(0turn);
        opacity: 0;
      }
      100% {
        transform: translateY(0) rotate(calc(2turn - 10deg));
        opacity: 1;
      }
    }
    @keyframes appariVerdeacqua {
      0% {
        transform: translateY(-150vh) rotate(0turn);
        opacity: 0;
      }
      100% {
        transform: translateY(0) rotate(calc(2turn + 10deg));
        opacity: 1;
      }
    }
    @keyframes appariViola {
      0% {
        transform: translateY(-150vh) rotate(0turn);
        opacity: 0;
      }
      100% {
        transform: translateY(0) rotate(calc(2turn - 15deg));
        opacity: 1;
      }
    } */
main {
  background-color: #969696;
  padding: 3em 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3em;
}
.foglietto {
  width: 230px;
  height: 200px;
  border: 1px solid black;
  box-shadow: 2px 2px 10px 2px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
  padding: 2em;
  transition: all 0.1s linear;
  opacity: 1;
}
.foglietto:hover {
  transform: scale(1.2);
}
.foglietto h2 {
  font-family: "Indie Flower", cursive;
  font-weight: 900;
  font-size: 2.5em;
}
.foglietto p {
  font-family: "Coming Soon", cursive;
  font-weight: 100;
  font-size: 1.6em;
}
.giallino {
  background-color: bisque;
  transition: all 0.1s linear;
  transform: rotate(-15deg);
  /* animation: appariGiallini 1s linear forwards; */
}
.verdeacqua {
  background-color: aquamarine;
  transition: all 0.1s linear;
  transform: rotate(10deg);
  /* animation: appariVerdeacqua 1s linear forwards; */
}
.viola {
  background-color: blueviolet;
  transition: all 0.1s linear;
  transform: rotate(15deg);
  /* animation: appariViola 1s linear forwards; */
}
.foglietto:nth-of-type(8) {
  animation-delay: 0.1s;
}
.foglietto:nth-of-type(3) {
  animation-delay: 0.2s;
}
.foglietto:nth-of-type(7) {
  animation-delay: 0.3s;
}
.foglietto:nth-of-type(6) {
  animation-delay: 0.4s;
}
.foglietto:nth-of-type(2) {
  animation-delay: 0.5s;
}
.foglietto:nth-of-type(4) {
  animation-delay: 0.6s;
}
.foglietto:nth-of-type(5) {
  animation-delay: 0.7s;
}
